@model List<Mission08_Team0204.Models.Task>
<div class="container">
    <h1 class="text-center">Stephen Covey's Time Management Matrix</h1>
    <div>
        <br />
        <br />
    </div>
    <table class="table table-bordered table-striped">
    <div class="row">
    <div class="col-2"> 
         
    </div>
    <div class="col-5">
                <h2>Urgent</h2>
    </div>
    <div class="col-5">
                <h2>Not Urgent</h2>
    </div>
    </div>
        <div>
            <br />
            <br />
        </div>
    <div class="row">
        <div class="col-2">
                <h2 style="writing-mode:vertical-lr; transform: rotate(180deg)">Important</h2>
        </div>
        <div class="col-5 grid-item">
            <h4>Quadrant 1</h4>
                @foreach (var item in Model)
                {
                    @if (item.Quadrant == 1)
                    {
                        <div class="row">
                            <div class="col-6">
                                <p>@item.TaskStr</p>
                            </div>
                            <div class="col-3">
                                <a class="btn btn-primary" asp-controller="Home" asp-action="Edit" asp-route-id="@item.TaskId">Edit</a>
                            </div>
                            <div class="col-3">
                                <a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@item.TaskId">Delete</a>
                            </div>
                        </div>
                    }
                }
        </div>
            <div class="col-5 grid-item">
                <h4>Quadrant 2</h4>
                @foreach (var item in Model)
                {
                    @if (item.Quadrant ==2)
                    {
                        <div class="row">
                            <div class="col-6">
                                <p>@item.TaskStr</p>
                            </div>
                            <div class="col-3">
                                <a class="btn btn-primary" asp-controller="Home" asp-action="Edit" asp-route-id="@item.TaskId">Edit</a>
                            </div>
                            <div class="col-3">
                                <a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@item.TaskId">Delete</a>
                            </div>
                        </div>
                    }
                }
            </div>
    </div>
    <div>
        <br />
        <br />
    </div>

        <div class="row">
            <div class="col-2">
                <h2 style="writing-mode:vertical-lr; transform: rotate(180deg)">Not Important</h2>
            </div>
            <div class="col-5 grid-item">
                <h4>Quadrant 3</h4>
                @foreach (var item in Model)
                {
                    @if (item.Quadrant == 3)
                    {
                        <div class="row">
                            <div class="col-6">
                                <p>@item.TaskStr</p>
                            </div>
                            <div class="col-3">
                                <a class="btn btn-primary" asp-controller="Home" asp-action="Edit" asp-route-id="@item.TaskId">Edit</a>
                            </div>
                            <div class="col-3">
                                <a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@item.TaskId">Delete</a>
                            </div>
                        </div>
                    }
                }
            </div>
            <div class="col-5 grid-item">
                <h4>Quadrant 4</h4>
                @foreach (var item in Model)
                {
                    @if (item.Quadrant == 4)
                    {
                        <div class="row">
                            <div class="col-6">
                                <p>@item.TaskStr</p>
                            </div>
                            <div class="col-3">
                                <a class="btn btn-primary" asp-controller="Home" asp-action="Edit" asp-route-id="@item.TaskId">Edit</a>
                            </div>
                            <div class="col-3">
                                <a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@item.TaskId">Delete</a>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </table>
</div>